.table-border-style {
  margin: 5px 35px 5px 30px;
  border: none;
}
.card {
  border: none;
  -webkit-box-shadow: 0px 0px 5px 1px rgb(242 236 236 / 75%) !important;
}
.table-TT-Past {
  margin: 20px 40px 10px 40px;
  display: flex;
  justify-content: space-between;
}
.market-heading {
  font-size: 1.7rem !important;
}

.table-TT-Past span {
  font-weight: 600;
}
.main-table {
  width: 100%;
  background-color: #fff !important;
}
.imagetable-style {
  margin-right: 10px;
}
.table-heading-style {
  color: black;
}
.large-text {
  font-size: 16px;
  font-weight: 500;
  color: black;
}
.action-heading {
  display: flex;
  justify-content: center;
}
.action-style {
  font-size: 20px;
  font-weight: 500;
  color: black;
  display: flex;
  justify-content: end !important;
}
table thead th {
  vertical-align: bottom;
  border-bottom: none !important;
}
.table > :not(caption) > * > * {
  /* background-color: #0b111dca; */
  border: none;
  background-color: white;
}
.table-striped tbody tr:nth-of-type(odd) {
  background-color: #fff;
}
.table > tbody {
  /* vertical-align: inherit; ye default ta */
  vertical-align: middle;
}
.small-text {
  color: rgb(0 251 130);
  font-weight: 600;
  display: flex;
  justify-content: flex-end;
}
td {
  border-style: none;
}
.trades-table-class {
  width: 100%;
  padding: 0 30px;
}
.table-open {
  width: 85%;
  /* overflow-x: scroll; */
  overflow: scroll;
  margin-left: auto;
  margin-top: 6rem;
}
.buttons-container {
  display: flex;
  justify-content: center;
  margin: 20px;
}
.btn-trades-style {
  margin: 0 10px;
  min-width: 85px;
}
.btn-trades-style:active{
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0,123,255,0.75);
}
.main-total-style {
  display: flex;
  align-items: baseline;
  gap: 9px;
  position: relative;
  transition: 0.25s;
}
.total-card {
  background: rgb(227 226 226);
  box-shadow: none;
  color: rgb(0 0 0);
  align-items: center;
  border-radius: 12px;
  cursor: pointer;
  display: flex;
  padding: 7px;
  position: relative;
  transition: 0.25s;
}
.cross-style {
  width: 20px;
  height: 20px;
  margin: 10px 0;
}
/* center modal */
.modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 400px;
  width: auto;
}
.fade {
  transition: none;
}
.modal.fade .modal-dialog {
  transition: none;
}
.th-trades-class {
  text-align: center;
}
.th-trades-action {
  text-align: end;
  padding-right: 25px !important;
}
.td-trades-table {
  text-align: center;
}
.trade-option-card {
  -webkit-box-shadow: 0px 0px 5px 1px rgb(242 236 236 / 75%);
  margin: 50px 30px;
}
/* search bar */
.has-search {
  position: relative;
  padding: 10px 0;
  margin-top: auto;
  margin-right: 10px;
}

.form-control-feedback {
  position: absolute;
  left: 10px; /* Adjust the value as needed */
  top: 50%;
  transform: translateY(-50%);
}
.search-form {
  padding-left: 40px; /* Adjust the value to provide enough space for the icon */
}
.main-bar-calendar {
  display: flex;
  align-items: baseline;
}
.calender-icon-style {
  color: white;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(75, 108, 183) 0%,
    rgb(55, 82, 141) 90%
  );
  margin-top: 10px;
}
.calender-icon-style svg {
  margin: 5px;
}
.calender-icon-style svg:hover {
  color: #fff;
}
.Rel-All-style{
  display: flex;
  justify-content: center;
}
.no-data-message{
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
}