.table-border-style {
  margin: 5px 35px 5px 30px;
  border: none;
}
.card {
  border: none;
  border-radius: 20px;
}
.table-heading {
  margin: 20px 40px 10px 40px;
  display: flex;
  justify-content: space-between;
}
.market-heading {
  font-size: 1.7rem !important;
}

.table-heading span {
  font-weight: 600;
}
.main-table {
  width: 100%;
  background-color: #fff !important;
}
.main-tableicon {
  display: flex;
  align-items: center;
}
.imagetable-style {
  margin-right: 10px;
}
.table-heading-style {
  color: black;
}
.large-text {
  font-size: 16px;
  font-weight: 500;
  color: black;
}
.action-heading {
  display: flex;
  justify-content: center;
}
.action-style {
  font-size: 20px;
  font-weight: 500;
  color: black;
  display: flex;
  justify-content: space-evenly;
}
table thead th {
  vertical-align: bottom;
  border-bottom: none !important;
}
.table > :not(caption) > * > * {
  /* background-color: #0b111dca; */
  border: none;
  background-color: white;
}
.table-striped tbody tr:nth-of-type(odd) {
  background-color: #fff;
}
.table > tbody {
  /* vertical-align: inherit; ye default ta */
  vertical-align: middle;
}
.small-text {
  color: rgb(0 251 130);
  font-weight: 600;
  display: flex;
  justify-content: flex-end;
}
td {
  border-style: none;
}
.third-col {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.action-col-user {
  justify-content: center;
  display: flex;
}
/* .active-user-style {
  display: flex;
  justify-content: center;
} */
.edit-icon {
  color: rgb(255, 193, 7);
  height: 15px;
  padding-right: 5px;
}
.delete-icon {
  color: rgb(244, 67, 54);
  height: 15px;
  padding: 0 5px;
  cursor: pointer;
}
.view-icon {
  color: rgb(0, 188, 212);
  height: 15px;
  padding-left: 5px;
  cursor: pointer;
}

.btn-close {
  font-size: 1.5rem;
  padding: 0.5rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.btn-close:hover {
  color: red;
}

.dropdown-button {
  display: contents;
}

.dropdown-item {
  text-transform: capitalize;
}
.dropdown-toggle {
  width: 90px;
  text-transform: capitalize;
}
.search-form {
  padding-left: 40px;
}
.badge-style {
  padding: 0.5rem;
  color: white;
  text-transform: uppercase;
  min-width: 65px;
}
.disabled-icon {
  pointer-events: none; /* Disable click events on the icon */
  opacity: 0.3; /* Reduce opacity to visually indicate it's disabled */
}
